@import '~bulma/bulma';

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.seek-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.augmentation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.addition-layer {
  cursor: pointer;
}

.section.header-section {
  height: 10vh;
}

.section.main-section {
  height: 89vh;
}

.video-box {
  line-height: 0;
}

.augmented-video {
  position: relative;
}

.marker {
  content: url(./assets/tag-icon.svg);
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
}

.marker.highlighted {
  content: url(./assets//tag-icon-hovered.svg);
}

.marker.selected {
  content: url(./assets//selected-tag-icon.svg);
}

.marker.selected.highlighted {
  content: url(./assets//selected-tag-icon-hovered.svg);
}

.markers-list {
  overflow-y: scroll;
  height: 70vh;
}

.seek-bar-box {
  margin-top: 15px;
}

.ribbon-container {
  position: relative;
}
.ribbon {
  padding-left: 7px;
  padding-right: 7px;
  height: 14px;
  border-radius: 6px;
  background-color: lightblue;
  cursor: pointer;
}

.slider-container {
  pointer-events: none;
  position: absolute;
  top: 0%;
  height: 14px;
  width: calc(100% - 14px);
  margin-left: 7px;
}

.slider-current-time {
  pointer-events: none;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  background-color: darkblue;
  top: 0%;
  width: 14px;
  height: 14px;
}

.current-tag-row {
  box-shadow: 0 2px 3px blue, 0 0 0 1px blue;
}

.hovered-tag-row {
  background-color: coral;
}

.active-tags-panel {
  height: 50px;
}

.active-tag-label {
  cursor: pointer;
}

.tag-trace {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.graphical-augmentation {
  width: 100%;
  height: 100%;
}
